@model Signifly_Interview.ViewModels.TeamsViewModel

@{
    ViewBag.Title = "Teams";
    ViewBag.Site = "Teams";
}
<div style="margin-top: 20px;">
    @foreach (var team in Model.Teams)
    {
        <div class="col-lg-4" onclick="location.href = '@Url.Action("ShowTeam", new {team.Id})'">
            <div class="TeamSingle">
                <div class="header">
                    <h2>@team.Name</h2>
                </div>
                <div class="body">
                    @if (team.Skills.Count > 0)
                    {
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                            </tr>
                            @foreach (var skill in team.Skills)
                            {
                                <tr>
                                    <td>@skill.Name</td>
                                    <td>@skill.Amt</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div type="button" style="clear: both; float: right;" class="btn btn-signifly" data-toggle="modal" data-target="#myModal">
    Add Team
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Team</h4>
        </div>
        @using (Html.BeginForm("AddTeam", "Home", FormMethod.Post))
        {
            <div class="modal-body">
                <div class="form-group">
                    <label class="label label-signifly">Name *</label>
                    @Html.TextBoxFor(m => m.AddTeamViewModel.Team.Name, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    <label class="label label-signifly">Description</label>
                    @Html.TextAreaFor(m => m.AddTeamViewModel.Team.Description, new { @class = "form-control" })
                </div>

                @for (int i = 0; i < Model.AddTeamViewModel.Skills.Count; i++)
                {
                    var skill = Model.AddTeamViewModel.Skills[i];

                    @Html.HiddenFor(m => m.AddTeamViewModel.Skills[i].Id)

                    <div class="form-group">
                        <label class="label label-signifly">@skill.Name</label>
                        @Html.TextBoxFor(m => m.AddTeamViewModel.Skills[i].Amt, new {@type = "number", @class = "form-control"})
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="right">
                    <input type="submit" class="btn btn-signifly" value="Add"/>
                </div>
            </div>      
        }
    </div>
</div>
</div>