<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Signifly Team Manager</title>
    <link href="~/Content/lib/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/Images/Signifly_white.png"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @CheckLink("Teams")>@Html.ActionLink("Teams", "Teams", "Home", new { area = "" }, new { @class = "navbar-default" })</li>
                <li @CheckLink("TeamMembers")>@Html.ActionLink("Team Members", "TeamMember", "Home", new {area = ""}, new {@class = "navbar-default"})</li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
</div>

<script src="~/Content/lib/third-party.js"></script>
@RenderSection("Scripts", false)
</body>
</html>

@helper CheckLink(string site)
{
    if (site == null || ViewBag.Site == null)
    {
        return;
    }
    if (ViewBag.Site.Equals(site))
    {
        <text>class="active"</text>
    }
}